aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
attrs
beautifulsoup4
blinker
bs4
cachetools
certifi
charset-normalizer
click
colorama
comm
contourpy
cssselect
cycler
dataclasses-json
debugpy
decorator
dgl
executing
feedfinder2
feedparser
filelock
filetype
Flask
flask-cors
fonttools
frozenlist
fsspec
gensim
geographiclib
geopandas
geopy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
intel-openmp
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
jieba3k
Jinja2
joblib
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-text-splitters
langsmith
lxml
lxml_html_clean
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mkl
mpmath
multidict
mypy-extensions
narwhals
nest-asyncio
networkx
newspaper3k
nltk
node2vec
numpy
orjson
packaging
pandas
parso
pillow
platformdirs
plotly
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyogrio
pyparsing
pyproj
python-dateutil
python-dotenv
pytz
pyvis
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-file
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
sgmllib3k
shapely
six
smart-open
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
sympy
tabulate
tbb
tenacity
threadpoolctl
tinysegmenter
tldextract
tokenizers
toml
torch
torch-geometric
torchdata
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
watchdog
wcwidth
Werkzeug
wrapt
yarl
zstandard
